table {
    border-collapse: collapse;
    width: 100%;
    page-break-inside: avoid;
    font-size: 10pt;
}

th {
    border: 1px solid #ddd;
    background-color: #bbb;
    padding-left: 10px;
    padding-right: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
